.questionphoto img {
    height: 600px;

}

.questioncontent {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 170px;
    margin-top: 30px;
}

.questiontext {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 780px;
    margin-left: 30px;
    padding-left: 100px;

}

.qatext p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
}

.qatext h1 {
    color: #58A9A5;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
}
